<!DOCTYPE HTML>
<html ng-app="elvenApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Elven Sprite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="favicon.png">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link href="index.css" rel="stylesheet" type="text/css" />
		<!-- Latest compiled and minified JavaScript - Move to bottom of body element -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="angular.js"></script>
		<script src="angular-resource.js"></script>
		<script src="index.js"></script>
		<script src="MongoData.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					</button>
					<a class="navbar-brand" href="index.html">Elvenware</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="About.html">About</a></li>
						<li><a href="Contacts.html">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">
			<div class="starter-template">

				<h1>Animate Bootstrap</h1>

				<div id='drawHere01' class='draw-target'></div>				
				<div id="monogoData" ng-controller="MyController">
					<p>This project retrieves a small amount of JSON from
					a node server.</p>
					<div class='inputDiv'>
    					<p>Rows in DB: {{presidentsLength}}</p>
    					<ul>
    						<li ng-repeat="president in presidents">
    							<p>{{president.getPresidentName()}}<br/>
    								TermStart: {{president.getTermStart()}}<br/>
    								TermEnd: {{president.getTermEnd()}}</p>
    						</li>
    					</ul>
    					<div ng-bind-html-unsafe="hint"></div>
					</div>
					<div class='inputDiv'>
    					<input type='text' ng-model='presidentName'></input>
    					<input type='text' ng-model='termStart' placeholder='termStart'></input>
    					<input type='text' ng-model='termEnd' placeholder='termEnd'></input>
    					<button ng-click='newPresident()'>Add President</button>
					    <hr />
    					<input type='number' ng-model='indexOfItemToDelete'></input>
    					<button ng-click='deleteRow()'>Delete</button>
					</div>
				</div>
			</div>

		</div><!-- /.container -->

	</body>
</html>
