body
{
	background-color: #ff0000;
}


p {
    font-size:small;    
}

header {
    background-color: #aa0000;
    color: #ffbbbb; 
}

article {
    background-color: #ff0000;
    color: #880000;     
}

.position01 {
    width: 30px;
    height: 30px;
    background-color: #ffbbbb;
    font-weight:bold;
    font-size:small;    
}

.position02 {
    width: 30px;
    height: 30px;
    background-color: #ff8888;
    font-weight:bold;
    font-size:small;    
}

.position03 {
    width: 30px;
    height: 30px;
    background-color: #ff5555;
    font-weight:bold;
    font-size:small;    
}

img
{
    /*  */
	height:200px;    
}
