<!DOCTYPE HTML>
<html ng-app="elvenApp">
	<head>
		<meta charset="utf-8" />
		<title>Elven Bootstrap02</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="favicon.png">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link href="Carousel.css" rel="stylesheet" type="text/css" />
		<!-- Latest compiled and minified JavaScript - Move to bottom of body element -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="angular.js"></script>
		<script src="angular-resource.js"></script>
		<script src="MongoData.js"></script>
	</head>
	<body>
		
		<!-- Nav Bar 
		================================================== -->
		
		<div class="navbar-wrapper">
      	<div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Pictures</a></li>
                <li><a href="About01.html">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pictures</a></li>
                    <li><a href="#">About</a></li>                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

		</div>
		</div> <!-- Navbar wrapper -->


		<!-- Carousel
		================================================== -->
		<div id="myCarousel" class="carousel slide">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="Image140X140A.png" alt="First slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Enter a name and address</h1>

						</div>
					</div>
				</div>
				<div class="item">
					<img src="Image140X140B.png" alt="Second slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Add, Update, Delete</h1>

						</div>
					</div>
				</div>
				<div class="item">
					<img src="Image140X140C.png" alt="Third slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Go around on the carousel</h1>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!-- /.carousel -->

		<!-- Marketing messaging and featurettes
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">

			<!-- Three columns of text below the carousel -->
		<div class="row" id="monogoData" ng-controller="MyController">
			<div class="col-xs-6">
				<div class='inputDiv'>
					<input type='text' ng-model='firstName'><br />
					<input type='text' ng-model='lastName'><br />
					<input type='text' ng-model='address' placeholder='address'><br />
					<input type='text' ng-model='city' placeholder='city'><br />
					<input type='text' ng-model='state' placeholder='state'><br />
					<input type='text' ng-model='zip' placeholder='zip'><br />
					<input type='text' ng-model='phoneHome' placeholder='phoneHome'><br />
					<input type='text' ng-model='phoneMobile' placeholder='phoneMobile'><br />
					<input type='text' ng-model='email' placeholder='email'><br />
					<input type='number' ng-change="indexChange()" ng-model='indexOfItemToDelete' min="0" max="{{presidentsLength-1}}">					<br />
					<p>Rows in DB: {{presidentsLength}}</p>
					<button ng-click='addPresident()'>Add President</button>
					<button ng-click='updateRow()'>Update</button>
					<button ng-click='deleteRow()'>Delete</button>
					<p>{{selectedIndex}}</p>

				</div>
			</div>
			<!-- /.col-lg-4 -->
		
				<div class="col-xs-6">
					<div class='inputDiv'>
						<ul>
							<li ng-repeat="president in presidents">
								{{president.firstName}} {{president.lastName}}
							</li>
						</ul>
						<div ng-bind-html-unsafe="hint"></div>
					</div>
				</div>
				<!-- /.col-lg-4 -->

			</div><!-- /.row -->

			<!-- FOOTER -->
			<footer>
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</footer>

		</div><!-- /.container -->

	</body>
</html>
