body
{
	background-color: #0000ff;
}

p {
    font-size:large;    
}

header {
    background-color: #0000aa;
    color: #bbbbff; 
}

article {
    background-color: #0000ff;
    color: #000088;     
}

.position01 {
    width: 50px;
    height: 50px;
    background-color: #bbbbff;
    font-weight:bold;
}

.position02 {
    width: 50px;
    height: 50px;
    background-color: #8888ff;
    font-weight:bold;
}

.position03 {
    width: 50px;
    height: 50px;
    background-color: #5555ff;
    font-weight:bold;
}

img
{
    /*  */
	height:400px;    
}
