body
{
	background-color: #00ff00;
	font-size:medium;   
}

p {
    font-size:medium;    
}

header {
    background-color: #00AA00;
    color: #BBFFBB; 
}

article {
    background-color: #00FF00;
    color: #008800;     
}

.position01 {
    width: 40px;
    height: 40px;
    background-color: #BBFFBB;
    font-weight:bold;
}

.position02 {
    width: 40px;
    height: 40px;
    background-color: #88FF88;
    font-weight:bold;
}

.position03 {
    width: 40px;
    height: 40px;
    background-color: #55FF55;
    font-weight:bold;
}

img
{
    /*  */
	height:300px;    
}
