
/* Large */
@media screen and (min-width: 1025px) and (max-width: 2800px)
{
	body
	{
		background-color: #0000ff;
	}
	
	p {
	    font-size:large;    
	}
	
	header {
	    background-color: #0000aa;
	    color: #bbbbff; 
	}
	
	article {
	    background-color: #0000ff;
	    color: #000088;     
	}
	
	.position01 {
	    width: 50px;
	    height: 50px;
	    background-color: #bbbbff;
	    font-weight:bold;
	}
	
	.position02 {
	    width: 50px;
	    height: 50px;
	    background-color: #8888ff;
	    font-weight:bold;
	}
	
	.position03 {
	    width: 50px;
	    height: 50px;
	    background-color: #5555ff;
	    font-weight:bold;
	}
	
	img
	{
	    /*  */
		height:400px;    
	}

}

/* Medium */
@media screen and (min-width: 701px) and (max-width: 1024px) 
{
	body
	{
		background-color: #00ff00;
		font-size:medium;   
	}
	
	p {
	    font-size:medium;    
	}
	
	header {
	    background-color: #00AA00;
	    color: #BBFFBB; 
	}
	
	article {
	    background-color: #00FF00;
	    color: #008800;     
	}
	
	.position01 {
	    width: 40px;
	    height: 40px;
	    background-color: #BBFFBB;
	    font-weight:bold;
	}
	
	.position02 {
	    width: 40px;
	    height: 40px;
	    background-color: #88FF88;
	    font-weight:bold;
	}
	
	.position03 {
	    width: 40px;
	    height: 40px;
	    background-color: #55FF55;
	    font-weight:bold;
	}
	
	img
	{
	    /*  */
		height:300px;    
	}

}

/* Small */
@media screen and (min-width: 10px) and (max-width: 700px)
{
	body
	{
		background-color: #ff0000;
	}
	
	
	p {
	    font-size:small;    
	}
	
	header {
	    background-color: #aa0000;
	    color: #ffbbbb; 
	}
	
	article {
	    background-color: #ff0000;
	    color: #880000;     
	}
	
	.position01 {
	    width: 30px;
	    height: 30px;
	    background-color: #ffbbbb;
	    font-weight:bold;
	    font-size:small;    
	}
	
	.position02 {
	    width: 30px;
	    height: 30px;
	    background-color: #ff8888;
	    font-weight:bold;
	    font-size:small;    
	}
	
	.position03 {
	    width: 30px;
	    height: 30px;
	    background-color: #ff5555;
	    font-weight:bold;
	    font-size:small;    
	}
	
	img
	{
	    /*  */
		height:200px;    
	}

}   

