<!DOCTYPE HTML>
<html ng-app="elvenApp">
	<head>
		<meta charset="utf-8" />
		<title>Contacts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="favicon.png">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link href="index.css" rel="stylesheet" type="text/css" />
		<!-- Latest compiled and minified JavaScript -->
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
				<script src="angular.js"></script>
		<script src="angular-resource.js"></script>
		<script src="MongoData.js"></script>
		<script src="index.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li >
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="About.html">About</a>
						</li>
						<li >
							<a href="Contacts.html">Contact</a>
						</li>
						<li class="active">
							<a href="BooksToRead.html">Books</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="index.html">Home</a>
								</li>
								<li>
									<a href="About.html">About</a>
								</li>
								<li>
									<a href="Contacts.html">Contacts</a>
								</li>
								<li>
									<a href="BooksToRead.html">Books</a>
								</li>
							</ul>
						</li>
					</ul>

				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<div class="container">

			<div>
			<div class="starter-template">
				<h1 id="contacts">Books I'd Like to Read</h1>
				<div id='drawHere01' class='draw-target'></div>
				
			</div>
			</div>
			<div id="monogoData" ng-controller="MyController">
				<ul>
					<li ng-repeat="book in books">
						<p><b>Book Title</b> : {{book.getBookTitle()}}<br/>
							<b>Author</b> : {{book.getAuthor()}}<br/>
							<b>Rating</b> : {{book.getRating()}}</p>
							<span><img src="{{book.getUrl()}}" /></span>
					</li>
				</ul>
				<div ng-bind-html-unsafe="hint"></div>
			</div>

		</div><!-- /.container -->

	</body>
</html>